{{template "base" .}}

{{define "page-title"}}
Nástěnka událostí
{{end}}
{{define "content"}}
{{$events := index .Data "events"}}
<main role="main" class="container">
    <div class="container table-responsive" style="margin: 2em 0 2em 0;">
        <h1>Všechny události</h1>

        <table class="table table-striped table-hover table-bordered" id="all-res">
            <thead>
                <tr>
                    <th class="text-center" style="width: 50%;">Nadpis</th>

                    <th class="text-center" style="width: 10%;">Vytvořeno</th>
                    <th class="text-center" style="width: 10%;">Upraveno</th>
                    <th class="text-center" style="width: 30%;">Vytvořil</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {{range $events}}
                <tr>
                    <td class="text-center">
                        <a href="/dashboard/posts/show-event/{{.ID}}">
                            {{truncateString .Header 75}}
                        </a>

                    </td>

                    <td class="text-center">{{humanDate .CreatedAt}}</td>
                    <td class="text-center">{{humanDate .UpdatedAt}}</td>
                    <td class="text-center">{{.User.FirstName}} {{.User.LastName}}</td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>
    </div>
    </div>
</main>
{{end}}