{{template "base" .}}

{{define "page-title"}}
Nástěnka událostí
{{end}}
{{define "content"}}


{{$events := index .Data "events"}}

<div class="container mt-3">
    <div class="row row-cols-1 row-cols-md-3 g-3" data-masonry='{"percentPosition": true }'>


        {{range $events}}

        <div class="col-12 col-md-6 col-lg-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">{{.Header}}</h5>
                    <p class="card-text">{{.Body}}</p>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-between">
                        {{if eq .CreatedAt .UpdatedAt}}
                        <small class="text-body-secondary">Vytvořeno: {{humanDate .CreatedAt}}</small>
                        {{else}}
                        <small class="text-body-secondary">Upraveno: {{humanDate .UpdatedAt}}</small>
                        {{end}}
                        <small class="text-body-secondary">{{.User.FirstName}} {{.User.LastName}}</small>
                    </div>
                </div>
            </div>
        </div>
        {{end}}

    </div>
</div>

{{end}}